<% if flash.has?(:login_error) %>
  <%= flash[:login_error] %>
<% end %>
 
<body class="home-page-bg">
  <div class="home-page-container">
    <div class="text-center">

<h1 class='display-3'> Log In to Your Account</h1>
      <form method="POST" action="/login">
      
        <label ><strong>Username:</strong><input type = "text" name="username" id="username"><br><br>
        <label><strong>Password:</strong><input type="password" name="password" id="password"><br><br>
    
        <input class="btn btn-info" role='button' type="submit" value="Log In">
        <a class="btn btn-info" href='/signup' role='button'>Create New Account</a>
      </form>
    </div>
  </div>
</body>

