<!DOCTYPE html>
<center><h1>Create a Post</h1>



<form action="/show_entry" method="POST">
  <p>
    Write down the thoughts of your travels<br><br>

    Country:<input type="text" name="country" />

  </p>

  <p>
  What did you most enjoy about that country<br>
  <textarea name="content"></textarea>
  </p>


  <input type="submit" />
</form></center>
