<!DOCTYPE html>

<body class="home-page-bg">
<div class="home-page-container">
 <div class="text-center">

<h1 class="display-3">Create a Journal Entry</h1>



<form action="/journal_entries" method="POST">
        <p style='color:white;'>
          Write down the thoughts of your travels<br><br>
          Country:<br>
          <input type="text" name="country" />
        </p>

        <p>
        What did you most enjoy about that country<br>
        <textarea name="content"></textarea>
        </p>
        <input type="submit" />
      </form>
    </div>
  </div>
</body>